extends layout

block content
  main

  script(type='text/x-handlebars' id='header')
    .row
      .col-xs-12
        .logo-center.login-logo
          img(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=150%C3%97150&w=150&h=150', class='img-responsive')

  script(type='text/x-handlebars' id='footer')
    footer
      .row
        .col-xs-12
          .copyright
            p vovino, the office music player from
            p Osorno, Chile

  script(type='text/x-handlebars' id='index')
    .container-fluid
      {{> 'header'}}

      .row
        .col-xs-12
          ul.features-carousel
            li
              span.info listen to your favorite
              span.header moooosic

      .row
        .col-xs-12
          .login-actions
            a(href='#' data-href='join' class='btn btn-custom') join
            p an existing playlist or
            a(href='#' data-href='create' class='btn btn-custom') create
            p a new one

      {{> 'footer'}}

  script(type='text/x-handlebars' id='join')
    .container-fluid
      {{> 'header'}}

      p.informative-text
        strong hey, cool!
        |  now type your playlist ID

      form(name='join-playlist')
        input(type='text' name='')
        input(type='submit' class='btn btn-custom' value='join')

      {{> 'footer'}}

  script(type='text/x-handlebars' id='create')
    .container-fluid
      {{> 'header'}}

      .modal.fade#new-playlist-modal(tabindex='-1' role='dialog' aria-labelledby='newPlaylistModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              p awesome!
            .modal-body
              p.informative-text your playlist ID is
              .code HSGTDU
              p.informative-text share it with your friends and let the party begin

            .modal-footer
              a(href='#' data-href='playlist' class='btn btn-custom') add songs

      {{> 'footer'}}

  script(type='text/x-handlebars' id='playlist')
    h2 is it real life or is it just fantasy?

  script(type='text/x-handlebars' id='search')
    h2 time to search

