extends layout

block content
  .container-fluid
    .row
      .col-xs-12
        .logo-center.login-logo
          img(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=150%C3%97150&w=150&h=150', class='img-responsive')

    .row
      .col-xs-12
        ul.features-carousel
          li
            span.info listen to your favorite
            span.header moooosic

    .row
      .col-xs-12
        .login-actions
          a.btn.btn-custom join
          p an existing playlist or
          a.btn.btn-custom create
          p a new one

    footer
      .row
        .col-xs-12
          .copyright
            p vovino, the office music player from
            p Osorno, Chile
