doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/interface.css')

    block content
  body
    script(src='/jquery/dist/jquery.min.js')
    script(src='/handlebars/handlebars.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/socket.io-client/socket.io.js')
    script(src='/javascripts/helpers.js')
    script(src='/javascripts/partials.js')
    script(src='/javascripts/app.js')

    script.
      var socket = io("localhost:3001");
      $('form').submit(function(){
      socket.emit('chat message', "un mensaje");
      console.log("asdas");
      return false;
      });
      socket.on('song_added', function(msg){
        console.log(msg);
      });
