doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/interface.css')

  body
    block content

    script(src='/jquery/dist/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script.
      var socket = io("localhost:3001");
      $('form').submit(function(){
      socket.emit('chat message', "un mensaje");
      console.log("asdas");
      return false;
      });
      socket.on('song_added', function(msg){
        console.log(msg);
      });
